*{
  all: unset;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
}


.barmenu{
  background-color: rgba(25,25,25,0.8);
  border:none;
  color: #ebdbb2;
  border-radius:10px;
  border:3px solid black;
}

.metric{
}
.metric scale trough {
  all: unset;
  background-color: #222;
  border-radius: 50px;
  min-height: 18px;
  min-width: 200px;
  margin-left: -40px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.metric scale trough highlight {
  all: unset;
  background-color:#2F4858 ;
  color: #000000;
  border-radius: 50px;
}

.bar{
  padding: 0px 100px;
  background:green;
  
}
.bar-content{
  background:red;
}


.music{
  background-size: cover;
  border-radius:10px;
  border:3px solid black;
}
.music-title{
  margin-top:20px;
  font-size:1em;
}
.music-artist{
  margin-top:-20px;
  font-size:0.9em;
}

.background_holder{
  box-shadow: inset 00px -200px 100px rgba(22,22,22,0.9);
}
.btn{
  border-radius:50px;
}
.btn:hover{
  transition:0.3s ease;
  color:rgba(255,255,255,0.5);
}

